:root {
  --primary_color: #ffde42;
  --secondary_color: #2fa4d7;
  --light_color: #f3f4f4;
  --dark_color: #091413;
  --grey_color: #20292c;
  --header_height: 80px;
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  line-height: 1.6;
}

html {
  scroll-behavior: smooth;
  cursor: default;
  overflow-x: hidden;
}

body {
  background-color: var(--dark_color);
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  scroll-snap-type: y mandatory;
}

main {
  width: 100%;
  position: relative;
  top: var(--header_height);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  color: var(--light_color);
}

/* header */
header {
  width: 100%;
  height: var(--header_height);
  background: transparent;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  padding: 0px var(--header_height);
}

.brand_name {
  font-size: 2rem;
  text-wrap: nowrap;
}

.nav_section {
  height: 100%;
  display: flex;
  align-items: center;
}

.nav_option {
  list-style-type: none;
  display: flex;
  gap: 40px;
  margin-right: 40px;
}

.nav {
  color: var(--light_color);
  font-size: 1rem;
  transition: all 0.1s ease-in-out;
}

.active_nav,
.nav:hover {
  color: var(--primary_color);
  text-decoration: underline;
  text-underline-offset: 10px;
  text-decoration-thickness: 5px;
  transform: scale(1.2);
}

.hire_me_btn {
  min-width: 150px;
  min-height: 50%;
  font-size: 1.5rem;
  font-weight: 500;
  border-radius: 10px;
  border: 1px solid var(--dark_color);
  background-color: var(--primary_color);
  transition: all 0.1s ease-in-out;
}

.hire_me_btn:hover {
  box-shadow: 0 0 10px var(--primary_color);
  transform: scale(1.1);
}

/* contents */
section {
  width: 100%;
  height: 100vh;
  scroll-snap-align: start;
}

/* home section */
#home {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.intro {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
}

.role {
  font-size: 3rem;
}

.motto {
  font-size: 1.5rem;
}

.why_me_btn {
  width: 180px;
  height: 60px;
  background-color: var(--primary_color);
  border-radius: 10px;
  border: 1px solid var(--dark_color);
  font-size: 1.5rem;
  font-weight: 500;
  margin-top: 15px;
  transition: all 0.1s ease-in-out;
}

.why_me_btn:hover {
  transform: scale(1.1);
  box-shadow: 0 0 15px var(--primary_color);
}

.profile_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile_pic {
  width: 320px;
  aspect-ratio: 1/1;
  /* object-fit: cover; */
  overflow: hidden;
  border-radius: 50%;
  box-shadow: 0 0 50px var(--primary_color);
}

/* works */
.section_title {
  padding-top: var(--header_height);
  text-align: center;
  font-size: 2.5rem;
}

.section_content {
  padding-left: var(--header_height);
  padding-right: var(--header_height);
}

.carousel {
  display: flex;
  overflow-x: auto;
}

.group {
  display: flex;
  animation: slideLeft 15s infinite linear;
}

.carousel::-webkit-scrollbar {
  display: none;
}

.card {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 300px;
  aspect-ratio: 3/4;
  margin: 20px;
  padding: 10px;
  background-color: var(--grey_color);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
}

.card:hover {
  opacity: 0.9;
  transform: scale(0.9);
  box-shadow: 0 0 20px var(--primary_color);
}

.work_img_wrapper {
  width: 100%;
  height: calc(100% - 60px);
}

.work_img_wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
}

.project_title {
  font-size: 1rem;
  padding-top: 10px;
}

/* toggle classes */
.toggleable {
  transition: all 0.6s ease-in-out;
  opacity: 1;
}

.hidden-left {
  opacity: 0;
  transform: translateX(-150%);
}

.hidden-right {
  opacity: 0;
  transform: translateX(150%);
}

.disappear {
  opacity: 0;
  transform: scale(0.8);
}

@keyframes slideLeft {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}
