:root {
  --primary_color: #16a3d6;
  --secondary_color: #1c1a31;
  --background_color: #091224;
  --light_color: #f2f2f2;
  --dark_color: #1f1f1f;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth", 100;
  line-height: 1.6;
}

html {
  scroll-behavior: smooth;
  scroll-snap-type: mandatory;
}

body {
  background-color: var(--background_color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  color: var(--light_color);
}

a {
  text-decoration: none;
  cursor: pointer;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  min-height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  transition: transform 0.3s ease-in-out;
}

.hidden_header {
  transform: translateY(-100%);
}

.dev_name {
  margin: auto 40px;
  padding: 10px;
  /* border: 1px solid var(--dark_color) */
}

.navbar ul {
  list-style-type: none;
  display: flex;
  gap: 80px;
  padding: 10px;
  margin: 0 40px;
}

.active {
  text-decoration: underline;
  text-decoration-thickness: 0.2em;
  text-underline-offset: 0.5em;
  color: var(--primary_color);
}

section {
  width: 100vw;
  height: 100vh;
  border: 1px solid var(--dark_color);
}

.landing_page {
  display: flex;
  align-items: center;
  justify-content: center;
}

.home_content_wrapper {
  height: 100%;
  width: 100%;
  /* margin: 0 40px; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  /* border: 1px solid var(--dark_color); */
}

.avatar_wrapper {
  max-height: 280px;
  max-width: 280px;
  border: 5px solid var(--primary_color);
  border-radius: 50%;
  box-shadow: 0px 0px 80px var(--primary_color);
}

.avatar_wrapper img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  /* border: 1px solid var(--dark_color); */
}

.full_name {
  font-size: 4.5em;
  padding: 0;
  margin: 0;
  /* border: 1px solid var(--dark_color); */
}

.tagline {
  /* border: 1px solid var(--dark_color); */
  padding: 5px;
  text-wrap: wrap;
}

.download_resume {
  border: 0;
  padding: 10px;
  margin-top: 10px;
  border-radius: 10px;
  font-size: 1em;
  font-weight: 500;
  color: var(--dark_color);
  background-color: var(--primary_color);
  transition: box-shadow 0.3s ease;
}

.download_resume:hover {
  box-shadow: 0px 0px 20px var(--primary_color);
}
