:root {
  --primary_color: #ffde42;
  --secondary_color: #2fa4d7;
  --light_color: #f3f4f4;
  --dark_color: #091413;
  --grey_color: #20292c;
  --muted: #a3a3a3;
  --header_height: 80px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  line-height: 1.6;
}

html {
  scroll-behavior: smooth;
  cursor: default;
  overflow-x: hidden;
}

body {
  background-color: var(--dark_color);
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  scroll-snap-type: y mandatory;
}

/* main {
  width: 100%;
  position: relative;
  top: var(--header_height);
} */

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  color: var(--light_color);
}

/* header */
header {
  width: 100%;
  height: var(--header_height);
  background: transparent;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  padding: 0px var(--header_height);
}

.brand_name {
  font-size: 2rem;
  text-wrap: nowrap;
}

.nav_section {
  height: 100%;
  display: flex;
  align-items: center;
}

.nav_option {
  list-style-type: none;
  display: flex;
  gap: 40px;
  margin-right: 40px;
}

.nav {
  color: var(--light_color);
  font-size: 1rem;
  transition: all 0.1s ease-in-out;
}

.active_nav,
.nav:hover {
  color: var(--primary_color);
  text-decoration: underline;
  text-underline-offset: 10px;
  text-decoration-thickness: 3px;
  transform: scale(1.2);
}

.hire_me_btn {
  min-width: 150px;
  min-height: 50%;
  font-size: 1.5rem;
  font-weight: 500;
  border-radius: 10px;
  border: 1px solid var(--dark_color);
  background-color: var(--primary_color);
  transition: all 0.1s ease-in-out;
  box-shadow:
    inset 5px -5px 5px #a18e2a,
    inset -5px 5px 5px #f7de61;
}

.hire_me_btn:hover {
  transform: scale(1.1);
}

/* contents */
section {
  width: 100%;
  height: 100vh;
  scroll-snap-align: start;
  padding: var(--header_height);
}

/* home section */
#home {
  display: flex;
}

.intro {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* border: 2px solid var(--light_color); */
}

.dev_name {
  font-size: 3.2rem;
  /* border: 2px solid var(--light_color); */
}

.dev_name span {
  color: var(--primary_color);
}

.role {
  color: var(--primary_color);
  /* border: 2px solid var(--light_color); */
}
.download_resume_btn {
  width: 240px;
  height: 60px;
  border: 2px solid var(--primary_color);
  border-radius: 20px;
  background-color: var(--dark_color);
  color: var(--light_color);
  font-size: 1.2rem;
  font-weight: bold;
  transition: all ease-in-out 0.3s;
}

.download_resume_btn:hover {
  background-color: var(--primary_color);
  color: var(--dark_color);
  /* transform: scale(1.1); */
}

.motto {
  color: var(--muted);
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
  /* border: 2px solid var(--light_color); */
}

.profile {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 2px solid var(--light_color); */
}

.profile_pic {
  max-width: 380px;
  min-width: 320px;
  aspect-ratio: 1/1;
  border-radius: 20px;
  background-color: var(--grey_color);
  /* border: 2px solid var(--light_color); */
  box-shadow: -1px 1px 5px var(--muted);
}

/* works */
.gallery {
  height: 100%;
  padding-top: calc(var(--header_height) / 2);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.card {
  position: relative;
  height: 100%;
  box-shadow: -1px 1px 5px var(--muted);
  border-radius: 10px;
}

.gallery_wrapper {
  width: 100%;
  height: 70%;
  overflow: hidden;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  /* border-radius: 10px; */
  /* box-shadow: -1px 1px 5px var(--muted); */
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition:
    transform 0.4s ease,
    opacity 0.4s ease;
}

.card:hover img {
  transform: scale(1.1);
  opacity: 0.6;
}

.work_info {
  /* position: absolute;
  bottom: 0px;
  left: 0px; */
  height: 30%;
  width: 100%;
  background-color: var(--grey_color);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.work_categories {
  /* background-color: var(--muted); */
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 20px;
}

.work_category {
  padding: 5px 10px;
  background-color: var(--primary_color);
  color: var(--dark_color);
  font-weight: 500;
  border-radius: 20px;
}

.work_title {
  /* position: absolute;
  top: 0px;
  left: 0px; 
  display: flex;
  gap: 10px; */
  align-items: center;
  /* margin: 10px; */
  /* padding: 5px 10px; */
  /* background-color: var(--light_color); */
  color: var(--light_color);
  font-weight: 500;
  /* border-radius: 10px; */
}

/* toggle classes */
.toggleable {
  transition: all 0.6s ease-in-out;
  opacity: 1;
}

.hidden-left {
  opacity: 0;
  transform: translateX(-150%);
}

.hidden-right {
  opacity: 0;
  transform: translateX(150%);
}

.disappear {
  opacity: 0;
  transform: scale(0.8);
}

@keyframes slideLeft {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}
