:root {
  --primary_color: #ffde42;
  --secondary_color: #2fa4d7;
  --light_color: #f3f4f4;
  --dark_color: #091413;
  --grey_color: #20292c;
  --muted: #a3a3a3;
  --header_height: 5rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  line-height: 1.6;
}

html {
  scroll-behavior: smooth;
  cursor: default;
  overflow-x: hidden;
}

body {
  background-color: var(--dark_color);
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  scroll-snap-type: y proximity;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  color: var(--light_color);
}

/* header */
header {
  width: 100%;
  height: var(--header_height);
  background: transparent;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  padding: 0px var(--header_height);
}

.brand_name {
  font-size: 2rem;
  text-wrap: nowrap;
}

.nav_section {
  height: 100%;
  display: flex;
  align-items: center;
}

.nav_option {
  list-style-type: none;
  display: flex;
  gap: 3rem;
  margin-right: 3rem;
}

.nav {
  color: var(--light_color);
  font-size: 1rem;
  transition: all 0.1s ease-in-out;
}

.active_nav,
.nav:hover {
  color: var(--primary_color);
  text-decoration: underline;
  text-underline-offset: 0.5rem;
  text-decoration-thickness: 3px;
  transform: scale(1.2);
}

.hire_me_btn {
  min-width: 150px;
  min-height: 50%;
  font-size: 1.5rem;
  font-weight: 500;
  border-radius: 1rem;
  border: 1px solid var(--dark_color);
  background-color: var(--primary_color);
  transition: all 0.1s ease-in-out;
  box-shadow:
    inset 5px -5px 5px #a18e2a,
    inset -5px 5px 5px #f7de61;
}

.hire_me_btn:hover {
  transform: scale(1.1);
}

/* contents */
section {
  width: 100%;
  height: 100vh;
  scroll-snap-align: start;
  scroll-snap-stop: normal;
  padding: var(--header_height);
}

/* home section */
#home {
  display: flex;
}

.intro {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.dev_name {
  font-size: 3.2rem;
}

.dev_name span {
  color: var(--primary_color);
}

.role {
  color: var(--primary_color);
}
.download_resume_btn {
  width: 240px;
  padding: 1rem;
  text-align: center;
  border: 2px solid var(--primary_color);
  border-radius: 2rem;
  background-color: var(--dark_color);
  color: var(--light_color);
  font-size: 1.2rem;
  font-weight: bold;
  transition: all ease-in-out 0.3s;
}

.download_resume_btn:hover {
  background-color: var(--primary_color);
  color: var(--dark_color);
  /* transform: scale(1.1); */
}

.motto {
  color: var(--muted);
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
}

.profile {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile_pic {
  max-width: 380px;
  min-width: 320px;
  aspect-ratio: 1/1;
  border-radius: 2rem;
  background-color: var(--grey_color);
  box-shadow: -1px 1px 5px var(--muted);
}

/* works */
#works {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.section_header {
  font-size: 2.5rem;
  height: var(--header_height);
}

#works .work_container {
  background-color: var(--grey_color);
  width: 100%;
  height: calc(100% - var(--header_height));
  border-radius: 1rem;
  overflow: hidden;
  display: flex;
}

.page {
  width: 50%;
  height: 100%;
  border-radius: 1.5rem;
  padding: 1.5rem;
  position: relative;
}

.left_page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.page .img_wrapper {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: -1px 1px 3px var(--muted);
}

.img_wrapper img {
  width: 100%;
  height: 100%;
  object-fit: center;
}

.tech_stack {
  padding-top: 1rem;
  display: flex;
  gap: 1rem;
}

.tech_stack p {
  padding: 0.2rem 1rem;
  border-radius: 2rem;
  border: 2px solid var(--primary_color);
  color: var(--primary_color);
}

.work_title {
  font-weight: 600;
  color: var(--primary_color);
}

.work_features {
  padding-top: 1rem;
  list-style-type: none;
}

.work_features li i {
  color: var(--light_color);
  width: 1.8rem;
  height: 1.8rem;
}

.work_features li span {
  color: var(--primary_color);
  font-weight: 600;
}

.work_features li p {
  display: inline-block;
  color: var(--muted);
}

.visit_site_btn {
  display: inline-block;
  text-decoration: none;
  padding: 0.5rem 1rem;
  margin-top: 2rem;
  border-radius: 2rem;
  background-color: var(--secondary_color);
}

/* toggle classes */
.toggleable {
  transition: all 0.6s ease-in-out;
  opacity: 1;
}

.hidden-left {
  opacity: 0;
  transform: translateX(-150%);
}

.hidden-right {
  opacity: 0;
  transform: translateX(150%);
}

.disappear {
  opacity: 0;
  transform: scale(0.8);
}

@keyframes slideLeft {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}
